<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="row">
<div class="span8">
<h1>Bars:</h1>

<% if @bars.length > 0%>
	<% @bars.each do |bar| %>
  		<div class="entry">
  			<h3><%= link_to bar.name, bar %></h3>
    		<p><%= sanitize(bar.description) %></p>
    		<!--<p>Total number of deals (testing):<%= bar.daily_deals.count %></p>-->
    		<hr>
  		</div>
	<% end %>
<% else %>
	<div class="entry">
  		<h3>Sorry, there seems to be no match!</h3>
    	<hr>
  	</div>
<% end %>
</div>
<div class="span4">
	<h3>Todays deals:</h3>
	<% @bars.each do |bar| %>
		<% bar.daily_deals.each do |deal| %>
			<% if deal.day_of_the_week == Time.now.strftime("%A") %>
  				<div class="entry">
    				<h4><%= bar.name %></h4>
    				<p><%= (deal.deal.gsub ';', '<br>').html_safe %></p>
    				<hr>
  				</div>
  			<% end %>
  		<% end %>
	<% end %>
</div>
</div>

<script>
var barMenu = document.getElementById("BarMenu");
barMenu.className += " active";
</script>

