<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= javascript_tag "var bar_names = #{@names};" %>
<%= javascript_tag "var bar_lat = #{ @lats.to_json };" %>
<%= javascript_tag "var bar_lon = #{@lons.to_json};" %>
<%= javascript_tag "var bar_address = #{@addresses};" %>
<%= javascript_tag "var bar_links = #{@links};" %>
<%= javascript_include_tag 'barmap' %>

<div class="row">
	<!--The Left large box-->
	<div class="span8">
		<!--Gives characteristics of the box outline-->
		<div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" style="background-color: #DDDDDD">
				<li class="active"><a href="#list" data-toggle="tab">Bars</a></li>
				<li><a href="#tiles" data-toggle="tab">Tiles</a></li>
				<li><a href="#map" data-toggle="tab">Map</a></li>
			</ul>
			<div class="tab-content">
				<!-- This is the list tabl-->
				<div class="tab-pane active" id="list">
					
					<!-- This goes through the bar array (described and created in the controller and prints each Bar-->
					<% if @bars.length > 0%>
						
					<!-- Runs if no bars are in the array (Should only occur when no matches for search) -->
					<% else %>
						<div class="entry">
  							<h3>Sorry, there seems to be no match!</h3>
    						<hr>
  						</div>
					<% end %>
				</div>
				<div class="tab-pane" id="tiles">
					<% @bars.each do |bar| %>			
						<div class = "barSquare">
							<%= link_to image_tag(bar.small_pic_url, alt: bar.name + "image", class: "barImage"), bar %>
							<p class = "barText"> <%= link_to bar.name, bar, class: "link"%></p>
						</div>
					<% end %>	

        			<script type="text/javascript">
						//This script just adds effects to tiles
						
							//jquery that adds a little interaction once the page loads
						$(document).ready(function() {
							//This section is ment to add a little animation on page load.
							/*			
							$('.barSquare').animate(
							{
							opactiy: 1,
							left: "-=10px"
							}, 800);
							*/
			
							//Deals with fading on hovering
							$(document).on('mouseenter', '.barSquare', function () {
								$("> a", this).stop();
								$("> p", this).stop();
								$("> a", this).fadeTo('fast', 0.5);
								$("> a > img", this).addClass("imgHovered");
								$("> p", this).fadeTo('slow', 1);
							}).on('mouseleave', '.barSquare', function() { 
								$("> a", this).stop();
								$("> p", this).stop();
								$("> a", this).fadeTo('fast', 1); 
								$("> a > img", this).removeClass("imgHovered");
								$("> p", this).fadeTo('slow', 0);
							});
						});
        			</script>
				</div>
				<div class="tab-pane" id="map">
					<div class="barBox">
						<div class="barBoxContent">
							<div id="map-canvas" style="width:600px; height: 420px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<!-- This is the right box-->
	<div class="span4">
		<div class = "">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" style="background-color: #DDDDDD">
				<li class="active"><a href="#dealTab" data-toggle="tab">Today's Deals</a></li>
				<li><a href="#twitterTab" data-toggle="tab">Twitter Feeds</a></li>
			</ul>
			<!-- This is the todays deals tab-->
			<div class="tab-content">
				<div class="tab-pane active" id="dealTab">
					<div class="barBox">
					<h3 style="text-align:center; margin:0px;">Todays deals:</h3>
					<!-- This code searches all bars in the array and traverses their deals and prints each deal that corresponds with current day of the week-->
					<% @bars.each do |bar| %>
						<% bar.daily_deals.each do |deal| %>
							<% if deal.day_of_the_week == Time.now.strftime("%A") %>
  								<div class="barBoxContent">
  									<hr style="margin: 0px; padding: 0px;">
    								<h4 style="margin: 4px ; padding-top: 0px; padding-bottom: 0px;"><%= bar.name %></h4>
    								<p style="margin:0px; padding-bottom:0px"><%= (deal.deal.gsub ';', '<br>').html_safe %></p>
  								</div>
  							<% end %>
  						<% end %>
					<% end %>
					</div>
				</div>
				<div class="tab-pane" id="twitterTab">
					<!-- Fixes problem of twitter widget not loading after first page. -->
          <script>
            twttr.widgets.load();
          </script>
          <a class="twitter-timeline" href="https://twitter.com/mikeWzoller/bars" data-widget-id="455750764799856640">Tweets from Columbus Bars</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
		</div>		
	</div>
</div>


<script>
//This just makes the Bar tab on the navbar to active
var barMenu = document.getElementById("BarMenu");
barMenu.className += " active";
</script>


<!-- All code below deals with finding the current location-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3SN-tvewofza0qi6XqEMH2pyFX148Bm8&sensor=false">
	//This is using Michaels google API key
    </script>

	
<script type="text/javascript">
	
	function Bar(bar_id, name, bar_link, x_coordinate, y_coordinate, address)
        {
            this.name = name || ""; //the specific meeting number for that entry
            this.bar_id = bar_id; //takes a date object and stores as the date for the entry
            this.bar_link = bar_link; //stores the text for the topic of that date of the entry
            this.x_coordinate = x_coordinate || 0;
            this.y_coordinate = y_coordinate || 0;
            this.address = address || "";
        }
        
        var barList = [];
	<% if @bars.length > 0%>
		<% @bars.each do |bar| %>
  			barList.push(new Bar(<%= bar.bar_id%>, '<%= escape_javascript bar.name%>', '<%= link_to bar.name, bar %>', <%= bar.x_coordinate || 0%>, <%= bar.y_coordinate || 0%> , '<%= escape_javascript (bar.address.sub ',', '<br>').html_safe %>'));
		<% end %>
	<% end %>


	
	// Handles displaying the map when the tab is clicked
	// initialize every  time because otherwise fails to load after visiting other pages
	$(function(){
		$('a[href="#map"]').on('click', function(){ setTimeout(function(){initialize(); google.maps.event.trigger(map, 'resize'); map.panTo(new google.maps.LatLng(39.998394075812634, -83.00340414047241));}, 1)});

	});

	function getLocation()
    {
    	if (navigator.geolocation)
    	{
    		var options = {
				timeout: 2000,
    		    maximumAge: 0
			};
		console.log("test2");
		//Keeps failing to connect, works outside of this enviorment, may test when server works.
    	navigator.geolocation.getCurrentPosition( success, error,options);
    	} else { 
    		x.innerHTML= "Geolocation is not supported by this browser."; 
    		addBarsToPage();
    	}
    }

	var lat = 0;
	var lng = 0;
	function error(e) {
		console.log("error code:" + e.code + 'message: ' + e.message );
		addBarsToPage();
	}
	function success(position) {
		lat  = position.coords.latitude;
	    lng =  position.coords.longitude;

		sortBars();
		//--
		
		addBarsToPage();
		
	}
	
	google.maps.event.addDomListener(window, 'load', getLocation() );
	
	
	function barSort(a,b) {
		return Math.sqrt(Math.pow((Math.abs(lat) - Math.abs(a.x_coordinate)),2)+Math.pow((Math.abs(lng) - Math.abs(a.y_coordinate)),2)) - Math.sqrt(Math.pow((Math.abs(lat) - Math.abs(b.x_coordinate)),2)+Math.pow((Math.abs(lng) - Math.abs(b.y_coordinate)),2));
	}
	
	function sortBars() {
		if (barList.length > 1)
		{
			barList.sort(barSort)
		}
	}


	function addBarsToPage() {
			var barPage = document.getElementById("list");
			console.log(barList.length);
            for (var index = 0; index < barList.length; index++) {
                var barBox = document.createElement('div');				
                var barBoxContent = document.createElement('div');
				var barBoxName = document.createElement('h3');
				var barLink = document.createElement('a');
				var hr = document.createElement('hr');
				var br = document.createElement('br');
				var barBoxAddr = document.createElement('p');
				barBoxName.innerHTML = barList[index].bar_link;
				barBoxAddr.innerHTML = barList[index].address;
				barBox.className = "barBox";
				barBoxContent.className = "barBoxContent";
                barBoxContent.appendChild(barBoxName);
                barBoxContent.appendChild(hr);
                barBoxContent.appendChild(br);
                barBoxContent.appendChild(barBoxAddr);
				barBox.appendChild(barBoxContent);
                barPage.appendChild(barBox);
            }
	}
	
</script>
