<p id="notice"><%= notice %></p>

<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span4">
				<%= image_tag(@bar.small_pic_url, :alt => @bar.name + "image") %>
			</div>
			<div class="span4">
				<%= content_tag(:h1, @bar.name) %>
      	<%= content_tag(:p, @bar.address) %>
      	<%= content_tag(:p, @bar.contact_number) %>
			</div>
		</div>
		<div class="span8 description">	

	    <h4>
    	  <%= @bar.description %>
    	</h4>
		</div>
	  <!-- This just iterates through all the daily deals related to this bar and prints them-->
    <% @bar.daily_deals.each do |deal| %>
      <div class="entry">
				<hr>
        <h2><%= deal.day_of_the_week %></h2>
        <h5><%= (deal.deal.gsub ';', '<br>').html_safe %></h5>
      </div>
    <% end %>

		<div class="options">
			<hr>
    	<%= link_to 'Edit', edit_bar_path(@bar) %> |
    	<%= link_to 'Back', main_path %>
		</div>
  </div>
	
	<!-- Fixes problem of twitter widget not loading after first page. -->
	<script>
		twttr.widgets.load();
	</script>

	<div class="span4">
		<div id="twitter-feed">
			<a class="twitter-timeline" href=<%= "https://twitter.com/#{@bar.twitter_name}" %> data-widget-id=<%= @bar.twitter_widget_id %>><%= "Tweets by @#{@bar.twitter_name}" %></a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>

</div>
