
	<ul class="nav nav-tabs" style="background-color: #DDDDDD">
		<li id="SundayTab" ><a href="#Sunday" data-toggle="tab">Sunday</a></li>
  		<li id="MondayTab"><a href="#Monday" data-toggle="tab">Monday</a></li>
  		<li id="TuesdayTab"><a href="#Tuesday" data-toggle="tab">Tuesday</a></li>
  		<li id="WednesdayTab"><a href="#Wednesday" data-toggle="tab">Wednesday</a></li>
  		<li id="ThursdayTab"><a href="#Thursday" data-toggle="tab">Thursday</a></li>
  		<li id="FridayTab"><a href="#Friday" data-toggle="tab">Friday</a></li>
  		<li id="SaturdayTab"><a href="#Saturday" data-toggle="tab">Saturday</a></li>
	</ul>
	<div class="tab-content">
		<% @days.each do |day| %>
			<div class="tab-pane" id="<%= day %>">
				<% @bars.each do |bar| %>
					<% bar.daily_deals.each do |deal| %>
						
						<% if deal.day_of_the_week == day %>
							<div class="barBox">
						<div class="barBoxContent">
  							<div class="">
    							<h3><%= link_to bar.name, bar %></h3>
    							<p><%= (deal.deal.gsub ';', '<br>').html_safe %></p>
  							</div></div></div>
  						<% end %>
  					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>



<script>
var calMenu = document.getElementById("CalendarMenu");
calMenu.className += " active";
var currentTab = document.getElementById("<%= @currentDay.strftime("%A") %>Tab");
currentTab.className += " active";
var currentDay = document.getElementById("<%= @currentDay.strftime("%A") %>");
currentDay.className += " active";
</script>
