<div class="special">
	<h1>Calendar Page!</h1>

	<p>Day is : <%= @currentDay.strftime("%A") %></p>

	<!-- Creates links for the next 8 days-->
	<%= link_to 'Today', calendar_index_path(daysAdv: 0) %> |
	<%= link_to 'Tomorrow', calendar_index_path(daysAdv: 1) %> |
	<!-- These days use the strftime to print the month/day of that current day-->
	<!-- Uses link to with daysAdv parameter to reload page with new current day, Not ideal solution IMO-->
	<%= link_to Time.now.advance(days: 2).strftime("%-m/%-d"), calendar_index_path(daysAdv: 2) %> |
	<%= link_to Time.now.advance(days: 3).strftime("%-m/%-d"), calendar_index_path(daysAdv: 3) %> |
	<%= link_to Time.now.advance(days: 4).strftime("%-m/%-d"), calendar_index_path(daysAdv: 4) %> |
	<%= link_to Time.now.advance(days: 5).strftime("%-m/%-d"), calendar_index_path(daysAdv: 5) %> |
	<%= link_to Time.now.advance(days: 6).strftime("%-m/%-d"), calendar_index_path(daysAdv: 6) %> |
	<%= link_to Time.now.advance(days: 7).strftime("%-m/%-d"), calendar_index_path(daysAdv: 7) %>
	<h3>Deals:</h3>
</div>
<% @bars.each do |bar| %>
	<% bar.daily_deals.each do |deal| %>
		<% if deal.day_of_the_week == @currentDay.strftime("%A") %>
  			<div class="entry special">
    			<h3><%= link_to bar.name, bar %></h3>
    			<p><%= (deal.deal.gsub ';', '<br>').html_safe %></p>
  			</div>
  		<% end %>
  	<% end %>
<% end %>



<script>
var calMenu = document.getElementById("CalendarMenu");
calMenu.className += " active";
</script>
